@{
	ViewData["Title"] = "Artikulli u shtua";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>


	<section class="overflow-hidden pt-0 pt-lg-5">
		<div class="container">
			<div class="row">
				<div class="col-md-8 text-center mx-auto">
					<img src="~/assets/images/element/congratulations.svg" class="h-300px my-4" alt="">
					<h1 class="fs-3">Artikulli juaj u shtua me sukses! 🎉</h1>
					<p> Ky artikull mund tju shfaqet perdoruesve te tjere te aplikacionit. Ti mund te menaxhosh artikujt e tu ne profilin tend.</p>
					<a asp-area="" asp-controller="Account" asp-action="GetMyAccount" class="btn btn-primary mb-5 me-1">Menaxho Artikujt</a>
					<a asp-area="" asp-controller="Items" asp-action="AddItem"class="btn btn-light mb-5">Shto nje artikull te ri</a>
				</div>
			</div>
		</div>
	</section>


</main>