<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TradeWave</title>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/assets/vendor/dropzone/js/dropzone.js"></script>
    <script src="~/assets/vendor/nouislider/nouislider.min.js"></script>
    <script src="~/assets/vendor/sticky-js/sticky.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    <script>
        const storedTheme = localStorage.getItem('theme')

        const getPreferredTheme = () => {
            if (storedTheme) {
                return storedTheme
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }

        const setTheme = function (theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }

        setTheme(getPreferredTheme())

        window.addEventListener('DOMContentLoaded', () => {
            var el = document.querySelector('.theme-icon-active');
            if (el != 'undefined' && el != null) {
                const showActiveTheme = theme => {
                    const activeThemeIcon = document.querySelector('.theme-icon-active use')
                    const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                    const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                    document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                        element.classList.remove('active')
                    })

                    btnToActive.classList.add('active')
                    activeThemeIcon.setAttribute('href', svgOfActiveBtn)
                }

                window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                    if (storedTheme !== 'light' || storedTheme !== 'dark') {
                        setTheme(getPreferredTheme())
                    }
                })

                showActiveTheme(getPreferredTheme())

                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', () => {
                            const theme = toggle.getAttribute('data-bs-theme-value')
                            localStorage.setItem('theme', theme)
                            setTheme(theme)
                            showActiveTheme(theme)
                        })
                    })

            }
        })

    </script>


    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/tiny-slider/tiny-slider.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/glightbox/css/glightbox.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/flatpickr/css/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/choices/css/choices.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/dropzone/css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/nouislider/nouislider.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/glightbox/css/glightbox.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/flatpickr/css/flatpickr.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/toastr/toastr.min.css" />


<style>
    .navbar-brand-item {
        width: 250px !important;
        height: 80px !important;
    }

</style>
</head>
<body class="has-navbar-mobile">
    

    <header class="navbar-light header-sticky">
       
        <nav class="navbar navbar-expand-xl">
            <div class="container">
                
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="light-mode-item navbar-brand-item" src="~/assets/images/wave-logo.png" alt="logo">
                </a>
                
               

                
               

                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <button class="navbar-toggler ms-auto ms-sm-0 p-0 p-sm-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-animation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <span class="d-none d-sm-inline-block small">Menu</span>
                    </button>

                    <div class="navbar-collapse collapse" id="navbarCollapse">
                        <ul class="navbar-nav navbar-nav-scroll me-auto">
                            <li class="nav-item"> <a class="nav-link" asp-area="" asp-controller="Items" asp-action="ManageItems">Menaxho artikujt</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-area="" asp-controller="Items" asp-action="AddItem">Shto Artikull</a></li>
                        </ul>
                    </div>
                }
                <button class="navbar-toggler ms-sm-auto mx-3 me-md-0 p-0 p-sm-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCategoryCollapse" aria-controls="navbarCategoryCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <img style="width: 50px !important" src="~/assets/images/profile-icon.png" />
                </button>
                <div class="navbar-collapse collapse" id="navbarCategoryCollapse">
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
                            <li class="nav-item ms-3 dropdown">
                                <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="avatar-img rounded-2" src="~/assets/images/avatar/01.jpg" alt="avatar">
                                </a>

                                <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
                                    <li class="px-3 mb-3">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar me-3">
                                                <img class="avatar-img rounded-circle shadow" src="~/assets/images/avatar/01.jpg" alt="avatar">
                                            </div>
                                            <div>
                                                <a class="h6 mt-2 mt-sm-0" href="#">Lori Ferguson</a>
                                                <p class="small m-0">example@gmail.com</p>
                                            </div>
                                        </div>
                                    </li>

                                    <li> <hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Cart" asp-action="GetUserCart"><i class="bi bi-heart fa-fw me-2"></i>Shporta Ime</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-bookmark-check fa-fw me-2"></i>Porosite e mia</a></li>
                                    <li>
                                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                                            <button type="submit" class="dropdown-item bg-danger-soft-hover"><i class="bi bi-power fa-fw me-2"></i>Dil</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav navbar-nav-scroll nav-pills-primary-soft text-center ms-auto p-2 p-xl-0">
                            <li class="nav-item"> <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Hyr</a> </li>
                            <li class="nav-item"> <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Regjistrohu</a></li>
                        </ul>
                    }
                </div>
                        
                   
                
               

            </div>
        </nav>
    </header>
    @RenderBody()

    <div class="back-top"></div>

    <div class="navbar navbar-mobile">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="index.html">
                    <i class="bi bi-house-door fa-fw"></i>
                    <span class="mb-0 nav-text">Home</span>
                </a>
            </li>

 
            <li class="nav-item">
                <a class="nav-link" href="account-bookings.html">
                    <i class="bi bi-briefcase fa-fw"></i>
                    <span class="mb-0 nav-text">My Trips</span>
                </a>
            </li>

         
            <li class="nav-item">
                <a class="nav-link" href="offer-detail.html">
                    <i class="bi bi-percent fa-fw"></i>
                    <span class="mb-0 nav-text">Offer</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="account-profile.html">
                    <i class="bi bi-person-circle fa-fw"></i>
                    <span class="mb-0 nav-text">Account</span>
                </a>
            </li>
        </ul>
    </div>


    <script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/tiny-slider/tiny-slider.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.js"></script>
    <script src="~/assets/vendor/flatpickr/js/flatpickr.min.js"></script>
    <script src="~/assets/vendor/choices/js/choices.min.js"></script>
    <script src="~/assets/js/functions.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    

  
</body>
</html>

